<h2>Todos</h2>
<form action="/todos" method="get">
  <input type="string" name="task" >
  <button>Search</button>
</form>

<form action="/todos/search" method="get">
  <input type="text" name="task">
  <button>Search</button></form>
  <br/>

<%= render @todos %>